* {
  font-family: 'Kanit', sans-serif;
}

html {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Satisfy', cursive;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin-bottom: 1em;
}

#logo {
  width: 2rem;
  height: 3rem;
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  font-size: 2em;
  margin-right: 1rem;
}

#logo-title-container {
  display: flex;
  align-items: center;
}

#logo-title-container h2, #logo-title-container p {
  margin: 0;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header li {
  margin: 0 0.25rem;
  font-size: 1.5em;
}

header i {
  color: gray;
}

#seperator {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(+45deg, lightgrey , lightgrey 1px, white 1px, white 2px);
  height:1em; 
}

#article-info {
  display: flex;
  justify-content: space-between;
}

#article-info i {
  margin: 0 0.24em;
}

h1, h3, h4 {
  margin: 0;
}

img {
  object-fit: contain;
  max-width: 100%;
  margin: 1em 0;
}

p {
  color: lightslategrey;
}
